:root {
  --skyBlue: #bee9e8;
  --teal: #62b6cb;
  --navy: #1b4965;
  --lavender: #cae9ff;
  --electricBlue: #5fa8d3;
  --charcoal: #333533;
  --black: #242423;
  --yellow: #f5cb5c;
  --cream: #e8eddf;
  --grey: #cfdbd5;
}

* {
  font-family: "Courier New", Courier, monospace;
  color: var(--cream);
}

body {
  background-color: var(--charcoal);
  text-align: center;
}

h4 {
  z-index: 10;
  text-align: center;
}

.displayCanvas {
  margin-left: auto;
  margin-right: auto;
  outline: var(--black) 3px solid;
}
